.chat-container {
    position: absolute;
    top: 0;
    left: 50vw;
    width: 50vw;
    height: 100vh;
    font-size: 2vh;
}

.chat-item {
    width: 50%;
}

.your-message {
    background: #009bff;
    margin: 1vh;
    border-radius: 1vh;
    padding: 1vh 1vw;
    color: white;
    float: right;
    word-wrap: break-word;
}

.other-people {
    background: #868686;
    margin: 1vh;
    border-radius: 1vh;
    padding: 1vh 1vw;
    color: white;
    float: right;
    text-align: left;
    float: left;
    word-wrap: break-word;
}

.box-chat_message {
    min-height: 60vh;
    max-height: 60vh;
    overflow-y: auto;
}

.box-chat {
    width: 70%;
    margin: 0 auto;
    margin-top: 10%;
    box-shadow: 0 0 10px 0 black;
    background-color: white;
    padding: 10px;
    border-radius: 1em;
}

.send-box {
    width: 100%;
    display: flex;
    justify-content: space-around
}

textarea {
    width: 80%;
    margin: 0;
    padding: 10px;
    background: #ebf5ff;
    border-radius: 1em;
    display: flex;
    float: left;
    resize: none;
}

button {
    width: 10vw;
    background: #6650ff;
    color: white;
    margin-left: 10px;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    padding: 1em;
    text-align: center;
}

button:hover {
    background: black;
}

textarea:focus {
    outline: 0;
    color: black;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #dadada;
    border-radius: 1em;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}