.question-container {
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 40%;
    left: 0;
    right: 50%;
    background-color: black;
    color: white
}

.question-box {
    position: absolute;
    text-align: center;
    margin: 12vh 5vw;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px 0 white;
    padding: 10px;
    border-radius: 1em;
}

.answer-container {
    position: absolute;
    text-align: center;
    top: 60%;
    bottom: 0;
    left: 0;
    right: 50%;
    background-color: black;
    color: white;
}

.answer-box {
    text-align: center;
    margin: 2vh 5vw;
    box-shadow: 0 0 10px 0 white;
    padding: 10px;
    border-radius: 1em;
}